body {
  background-color: white;
}
.WIP__container {
  background-color: rgb(22, 18, 18);
  padding: 5rem;
  width: 50rem;
  margin: auto;
  margin-top: 15rem;
}
.WIP__title {
  font: 500 5rem sans-serif;
  margin: auto;
  text-align: center;
  color: aliceblue;
}
.WIP__text {
  font: 500 1rem sans-serif;
  margin: auto;
  text-align: center;
  color: aliceblue;
  margin-top: 2rem;
}
